#  LOGSYS Spartan-3E FPGA Board
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<24> LOC=P59;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<23> LOC=P58;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<22> LOC=P54;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<21> LOC=P53;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<20> LOC=P52;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<19> LOC=P51;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<18> LOC=P50;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<17> LOC=P43;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<16> LOC=P16;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<15> LOC=P17;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<14> LOC=P20;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<13> LOC=P21;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<12> LOC=P31;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<11> LOC=P32;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<10> LOC=P33;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<9> LOC=P34;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<8> LOC=P40;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<7> LOC=P35;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<6> LOC=P26;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<5> LOC=P22;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<4> LOC=P23;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<3> LOC=P25;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<2> LOC=P15;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<1> LOC=P14;
Net fpga_0_LEDs_Displays_GPIO_IO_O_pin<0> LOC=P8;
Net fpga_0_Switches_Buttons_GPIO_IO_I_pin<11> LOC=P101;
Net fpga_0_Switches_Buttons_GPIO_IO_I_pin<10> LOC=P95;
Net fpga_0_Switches_Buttons_GPIO_IO_I_pin<9> LOC=P89;
Net fpga_0_Switches_Buttons_GPIO_IO_I_pin<8> LOC=P84;
Net fpga_0_Switches_Buttons_GPIO_IO_I_pin<7> LOC=P78;
Net fpga_0_Switches_Buttons_GPIO_IO_I_pin<6> LOC=P69;
Net fpga_0_Switches_Buttons_GPIO_IO_I_pin<5> LOC=P48;
Net fpga_0_Switches_Buttons_GPIO_IO_I_pin<4> LOC=P47;
Net fpga_0_Switches_Buttons_GPIO_IO_I_pin<3> LOC=P38;
Net fpga_0_Switches_Buttons_GPIO_IO_I_pin<2> LOC=P36;
Net fpga_0_Switches_Buttons_GPIO_IO_I_pin<1> LOC=P24;
Net fpga_0_Switches_Buttons_GPIO_IO_I_pin<0> LOC=P12;
Net fpga_0_clk_1_sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 16000 kHz;
Net fpga_0_clk_1_sys_clk_pin LOC=P56;
Net fpga_0_rst_1_sys_rst_pin TIG;
Net fpga_0_rst_1_sys_rst_pin LOC=P41;

Net xps_ps2_0_PS2_1_CLK LOC=P2;
Net xps_ps2_0_PS2_1_DATA LOC=P142;

Net vga_0_v_sync_pin LOC=P3;
Net vga_0_h_sync_pin LOC=P140;
Net vga_0_video_pin<0> LOC=P7;
Net vga_0_video_pin<1> LOC=P134;
Net vga_0_video_pin<2> LOC=P5;
Net vga_0_video_pin<3> LOC=P135;
Net vga_0_video_pin<4> LOC=P4;
Net vga_0_video_pin<5> LOC=P139;